/* PROJECT VARIABLES */
:root {
}

/* FONTS */
@font-face {
  font-family: "Quicksand";
  src:
    url("../assets/fonts/Quicksand-Regular.woff2") format("woff2"),
    url("../assets/fonts/Quicksand-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src:
    url("../assets/fonts/Quicksand-Bold.woff2") format("woff2"),
    url("../assets/fonts/Quicksand-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand Dash";
  src:
    url("../assets/fonts/QuicksandDash-Regular.woff2") format("woff2"),
    url("../assets/fonts/QuicksandDash-Regular.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM CSS */
.hidden {
  display: none !important;
}

body {
  width: 100%;
  height: 100vh;
}

#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
}

video::-webkit-media-controls {
  display: none !important;
}

/* WELCOME PAGE */
.welcome-page {
  font-family: "Quicksand", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  gap: 30%;
}

.input-form {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-form input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 2px solid darkolivegreen;
  border-radius: 12px;
  font-size: 1rem;
  transition: all ease 0.3s;
}

input:invalid:not(:placeholder-shown) {
  border: 2px solid red;
}

.top-error-msg,
.main-error-msg {
  color: red;
  font-size: 1.2rem;
}

.input-form input:hover {
  border: 2px solid black;
  transform: scale(1.1);
}

.input-form label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: all ease 0.3s;
}

.input-form input:focus + label {
  top: -24px;
  font-weight: bold;
}

.filled {
  top: -24px !important;
  font-weight: bold;
}

.input-form svg {
  width: 30px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.3s ease;
}

.input-form svg:hover {
  transform: scale(1.2);
  fill: darkolivegreen;
}

.input-form.main {
  margin-top: 40px;
  width: 400px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.welcome-container h1 {
  font-size: clamp(4rem, 6vw, 6rem);
}

.welcome-container h3 {
  font-size: clamp(1.2rem, 2vw, 3rem);
}
